<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="../Styles/style.css">
	<script src="../Js/main.js" async></script>
	<script src="../Js/medicine.js" defer></script>
	<title>Pharmacy | Medicina</title>
</head>
<body class="">
	<!-- SIDEBAR -->
	<section id="sidebar" class="">
		<a href="../index.html" class="brand"><i class='bx bxs-smile icon'></i> Pharmacy | API</a>
		<ul class="side-menu">
			<li><a href="../index.html" class="active"><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
			<li class="divider" data-text="Principal">Principal</li>
			<li class="bg-info rounded-3 "><a href="#" class="text-white"><i class='bx bxs-chart icon text-white' ></i> Productos </a></li>
			<li><a href="./employee.html"><i class='bx bxs-widget icon' ></i> Empleados</a></li>
			<li class="rounded-3 "><a href="./supplier.html" ><i class='bx bxs-widget icon' ></i> Proveedor</a></li>
			<li class="rounded-3 "><a href="./pacient.html" ><i class='bx bxs-widget icon' ></i> Clientes</a></li>
			<li class="divider" data-text="table and forms">Table and forms</li>
			<li><a href="#"><i class='bx bx-table icon' ></i> Tables</a></li>
			<li>
				<a href="#"><i class='bx bxs-notepad icon' ></i> Forms <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown"> 
					<li><a href="#">Basic</a></li>
					<li><a href="#">Select</a></li>
					<li><a href="#">Checkbox</a></li>
					<li><a href="#">Radio</a></li>
				</ul>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu toggle-sidebar' ></i>
			<form action="#">
				
			</form>
			
			<span class="divider"></span>
			<div class="profile">
				<img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
				<ul class="profile-link">
					<li><a href="#"><i class='bx bxs-user-circle icon' ></i> Profile</a></li>
					<li><a href="#"><i class='bx bxs-cog' ></i> Settings</a></li>
					<li><a href="#"><i class='bx bxs-log-out-circle' ></i> Logout</a></li>
				</ul>
			</div>
		</nav>
		<!-- NAVBAR -->


		<!-- MAIN -->
		<main class="bg-white">
			<h1 class="title">Medicamentos</h1>
			<ul class="breadcrumbs">
				<li><a href="#">Home</a></li>
				<li class="divider">/</li>
				<li><a href="#" class="active">Dashboard</a></li>
			</ul>
			<div class="info-data col-12">
				<div class="card">
					<div class="head align-items-center flex-column">
							<h2 class="text-center">Consultar todos los medicamentos.</h2>
							<button class="btn btn-primary">Buscar</button>
					</div>
				</div>
				<div class="card">
					<div class="head align-items-center flex-column">
						<h2 class="text-center">Consultar total venta medicamentos.</h2>
						<button class="btn btn-primary">Buscar</button>
				</div>
				</div>
				<div class="card">
					<div class="head align-items-center flex-column">
						<h2 class="text-center">Comprar medicamentos a proveedor.</h2>
						<button id="purchaseSupplier" class="btn btn-primary">Comprar</button>
				</div>
				</div>
				<div class="card">
					<div class="head align-items-center flex-column">
						<h2 class="text-center">Vender medicamento a cliente.</h2>
						<button id="saleProduct" class="btn btn-primary">Vender</button>
				</div>
				</div>
			</div>
			<div class="data">
				<div class="content-data">

				</div>
			
			</div>
		</main>
		<!-- MAIN -->
		
	</section>
	<!-- TEMPLATE PURCHASE SUPPLIER -->
	<template id="form-purchase">
		<form class="row g-3 needs-validation" novalidate>
			<div class="col-md-4 ">
				<label for="validationCustom04" class="form-label">Proveedor</label>
				<select class="form-select" id="validationCustom04" required>
					<option selected disabled value="">Seleccione proveedor...</option>
					<option>...</option>
				</select>
				<div class="invalid-feedback">
						Por favor, seleccione un proveedor.
				</div>
			</div>
			<div class="col-md-4">
				<label for="validationCustom04" class="form-label">Medicamentos</label>
				<select class="form-select" id="validationCustom04" required>
					<option selected disabled value="">Seleccione el medicamento...</option>
					<option>...</option>
				</select>
				<div class="invalid-feedback">
					Por favor, seleccione un medicamento.
				</div>
			</div>
			<div class="col-md-2">
				<label for="validationCustom05" class="form-label">Cantidad</label>
				<input type="text" class="form-control" id="validationCustom05" required placeholder="Ejemplo: 22">
				<div class="invalid-feedback">
					Por favor, ingrese la cantidad..
				</div>
			</div>

			<div class="col-md-4">
				<label for="validationCustom03" class="form-label">Total compra:</label>
				<input type="text" class="form-control" id="validationCustom03" placeholder="0 COP" disabled>

			</div>
			<div class="col-12">
				<button class="btn btn-primary" type="submit">Comprar</button>
			</div>
		</form>
	</template>	
	<!-- TEMPLATE SALE CLIENT -->

	<template id="form-sale">
		<form class="row g-3 needs-validation" novalidate>
			<div class="col-md-4 ">
				<label for="validationCustom04" class="form-label">Clientes:</label>
				<select class="form-select" id="validationCustom04" required>
					<option selected disabled value="">Seleccione un cliente...</option>
					<option>...</option>
				</select>
				<a href="#" class="m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar nuevo cliente.</a>
				
				<div class="invalid-feedback">
						Por favor, seleccione un proveedor.
				</div>
			</div>
			<div class="col-md-4">
				<label for="validationCustom04" class="form-label">Medicamentos</label>
				<select class="form-select" id="validationCustom04" required>
					<option selected disabled value="">Seleccione el medicamento...</option>
					<option>...</option>
				</select>
				<div class="invalid-feedback">
					Por favor, seleccione un medicamento.
				</div>
			</div>
			<div class="col-md-2">
				<label for="validationCustom05" class="form-label">Cantidad</label>
				<input type="text" class="form-control" id="validationCustom05" required placeholder="Ejemplo: 22">
				<div class="invalid-feedback">
					Por favor, ingrese la cantidad..
				</div>
			</div>
			<div class="col-12">
				<button class="btn btn-primary" type="submit">Agregar a la factura.</button>
			</div>

			<div class="col-md-4">
				<h5>Factura:</h5>
				<div class="col-md-12  p-3">
					<ul class="list-group list-group-flush">
						<li class="list-group-item d-flex justify-content-between align-items-center ">An item <button class="btn btn-danger ">Eliminar</button></li>
						<li class="list-group-item d-flex justify-content-between align-items-center ">An itemasdsadsad <button class="btn btn-danger ">Eliminar</button></li>
						<li class="list-group-item d-flex justify-content-between align-items-center ">An itemsadasdas <button class="btn btn-danger ">Eliminar</button></li>
						<li class="list-group-item d-flex justify-content-between align-items-center ">An item sadasdasdasdasd<button class="btn btn-danger ">Eliminar</button></li>
					</ul>
				</div>
				<label for="validationCustom03" class="form-label">Total compra:</label>
				<input type="text" class="form-control" id="validationCustom03" placeholder="0 COP" disabled>		
			</div>
			<div class="col-12">
				<button class="btn btn-primary" type="submit">Vender</button>
			</div>
		</form>	
	</template>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar nuevo cliente</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Nombre" aria-label="Name" aria-describedby="basic-addon1">
				</div>
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Apellido" aria-label="lastName" aria-describedby="basic-addon1">
				</div>
				<select class="form-select mb-3" id="typeIdentification" required>
					<option selected disabled value="">Seleccione el tipo de documento.</option>
					<option>...</option>
				</select>
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Numero identificacion." aria-label="identification" aria-describedby="basic-addon1">
				</div>
				<select class="form-select mb-3" id="TypePhone" required>
					<option selected disabled value="">Seleccione el tipo del telefono.</option>
					<option>...</option>
				</select>
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Telefono" aria-label="numberPhone" aria-describedby="basic-addon1">
				</div>
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Direccion" aria-label="address" aria-describedby="basic-addon1">
				</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>


</html>